<% for message in @messages %>
  <% if message.origin.eql?("DEVICE") %>
<p class="msg msg-to"><%= message.message %><small><br/><%= message.timestamp %></small></p>
  <% else %>
<p class="msg"><%= message.message %><small><br/><%= message.timestamp %></small></p>
  <% end %>
<% end %>