<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
    	<h2>Conversations</h2>
    	<div class="well">
    		<% if !@conversations.blank? %>
    		  <% for item in @conversations %>
    		    <%= item %>
    		  <% end %>
    		<% else %>
    		<% end %>
    	</div>
    </div>
   </div>
</div>